body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 70%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #7d22f9;
  height: 20vh;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  width: 100%;
  color: white;
}

p {
  margin: 0;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  background-color: inherit;
  text-decoration: underline;
  flex-basis: 40px;
  color: #7d22f9;
}

main {
  display: flex;
}

.results,
.list {
  padding-top: 25px;
  flex-basis: 50%;
  height: calc(80vh - 25px);
}

.list {
  background-color: #f4ebff;
}

/* RESULTS */

.searchForm {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}

.search {
  flex-basis: 68%;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px black;
}

.submit {
  flex-basis: 25%;
  padding: 10px;
  border: 0;
  background-color: #7d22f9;
  color: white;
  border-radius: 4px;
}

.headings {
  width: 100%;
  display: flex;
}

.headings p {
  font-weight: bold;
}

.name,
.language,
.tag {
  flex-basis: 170px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: left;
}

.language,
.tag {
  flex-shrink: 1;
}

.addPlaceholder {
  width: 20px;
  flex-basis: 40px;
}

.resultStats {
  width: 100%;
  text-align: left;
  display: flex;
}

.resultName,
.resultLanguage,
.resultTag {
  flex-shrink: 0;
  flex-basis: 170px;
  text-align: left;
  overflow: hidden;
  display: inline-block;
}

.resultLanguage,
.resultTag {
  flex-shrink: 1;
}


